/*
@media (min-width: 1280px) {
  .sap-desktop .sapMShellAppWidthLimited .sapMShellCentralBox {
    width: auto !important;
    margin-left: 0 !important;
    left: 0 !important;
    background-color: rgba(255, 255, 255, 0.3);
  }
}
*/


.sapMFlexItem {
  margin-top: -2px !important;
}

.sapUiTableColCell {
  text-align: center !important;
}


.sapMImg {
  margin-top: 10px;
}

.cellaTesto {
  font-family: monospace !important;
  font-size: 0.800rem !important;
}


.sapMLabel {
/*
  font-family: monospace !important;
  font-size: 0.875rem !important;
*/
  white-space: pre-wrap !important;
/*  text-align: center !important;*/
}

.sapMStdTileTitle {
  font-size: 1.25rem;
  color: #c6c200 !important;
}

.sapMTileContent:active {
  background-color: #c6c200;
}

.formClass{
    border: solid;
    border-color: #c6c200;
   
}

.IEstyleClass{
    border: solid;
    border-color: #c6c200;
    width = 400px;
}






.iconColumns {
  width: 2.75rem;
}


/*
#splitApp-Master {
  border-right-style: solid;
  border-right-color: #CC1919 !important;
}
*/

#userInfoId--linkChangePass {
  width: 100%;
  margin-left: 45%;
}

#userInfoId--userInfoPage-cont {
  /*display: block;
  background: url("../img/zambonFooter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: white;*/
  background-color: white !important;
  background: url("../img/zambonFooter.png")center bottom no-repeat;
  background-size: contain;

}

.sapMShellBrandingBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  z-index: 1;
  background-color: #c6c200 !important;
}




/*login più basso*/

#loginId--loginFlexBoxId {
/*  margin-top: 12rem;*/
  height: 15em;
  width: auto !important;
}

/***  Stili generici pagina  *****/

.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
  display: block;
  background: url("../img/background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: lightgrey;
}

.masterPage{
    background-color: white !important;
  background-size: contain;
}

.pageClass {
  background-color: white !important;
  background: url("../img/zambonFooter.png") center bottom no-repeat;
  background-size: contain;
}

.detailPageClass{
  background-color: white !important;
  background-size: contain;
}

/*
#loginId--loginPageId-intHeader-BarPH{
    border-bottom: solid;
    border-bottom-color: #c6c200;
}
*/

.customBar{
    border-bottom: solid;
    border-bottom-color: #c6c200;
}

#loginId--italyFlag-img{
    margin-top: 0px;
}

#loginId--britainFlag-img{
    margin-top: 0px;
}

/*
#splitApp-Master {
  border-right-style: solid;
  border-right-color: #c6c200 !important;
}
*/

#launchpadId--launchpadId-intHeader{
    border-bottom: solid;
    border-bottom-color: #c6c200;
}

.customHeaderClass{
    border-bottom: solid;
    border-bottom-color: #c6c200;
}

.sapMITBSelected>.sapMITBContentArrow {
  border-bottom-color: #c6c200;
}

.sapMITBSelected .sapMITBFilterDefault {
  background: #c6c200;
  color: #ffffff;
}

.sapMITBFilterDefault {
  color: #c6c200;
}

.sapMITBFilterIcon {
  background: #ffffff;
  border: 1px solid #c6c200;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius: 3rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5rem;
  height: 3rem;
  line-height: 2.75rem;
  overflow: hidden;
  width: 3rem;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
  background-color: #c6c200;
}

.sapMIBar-CTX.sapMFooter-CTX {
  background-color: #c6c200 !important;
}

.sapMITBContent {
  background-color: #ffffff;
  padding: 1rem;
  position: relative;
  border-color: #c6c200;
  border-style: solid;
}


@media (min-width: 240px) and (max-width: 480px) { 
    .flexboxTiming{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}


/**********************************/
